# Eclipse 
.classpath
.project
.settings/

# Maven
log/
target/

# Package Files #
#*.jar
*.war
*.ear

#logs
java-agent
*.log
*.log-*

# Other
*.class
*.orig

*.html
*.css
*.gif

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


output/

.idea/
*.iml
*.iws

#Exclude the local-maven-repo
/local-maven-repo

test-output/

#gradle files
!gradle/wrapper/*jar
.gradle/
build/

#other
buildSessionId.txt
sealights-config.properties

